[2018-04-26 14:27] izakfilmalter opened #1 "Struggling to get this to work."
Hey,

Thanks for taking the time to build this, it's exactly what I need.

[code]

I tried this with both node v8.11.1 and v10.0.0. Am I missing something?

[2018-04-26 17:27] mikaelvesavuori commented on #1
Hi Izak, happy to hear this is something you want to use!

I've done some preliminary looking into this. First and foremost it seems as if the Figma page which should be called "Design Tokens" is either missing or has no frames inside of it. I tried to replicate this error in a few ways but didn't get exactly the one you have.

Could you please begin by making sure that your document follows the f

[2018-05-08 06:38] greenkeeper[bot] opened #2 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI status on th

[2018-08-12 06:25] mikaelvesavuori commented on #1
Closing this for inactivity and changes in the code since this surfaced.

[2018-08-12 06:25] #1 closed

[2019-02-26 14:40] vspedr opened #3 ""No such file or directory" error when running figmagic command"
Node version: v11.10.0
OS: RHEL 7.6

Steps to reproduce:

- Clone this repo, `cd` into it and run `yarn setup`
- In a new terminal, go to the desired project directory, create `.env` file with figma credentials and run `figmagic`

Output:
`/usr/bin/env: node --experimental-modules --no-warnings: No such file or directory`

It seems that passing node options in the shebang is causing this error, si

[2019-02-28 12:51] mikaelvesavuori commented on #3
I've updated Figmagic to 1.0.2 which hopefully resolves this issue. It seems the shebang in 1.0.1 was not cross-platform.

[2019-02-28 14:22] vspedr commented on #3
Hi @mikaelvesavuori, thanks for the update.

I still couldn't get it to work, here's a few things I tried:
- running figmagic after a clean install of the new version: `/path/to/node/v11.10.0/bin/figmagic: line 2: //#: No such file or directory`
- edited the shebang into this:
[code]

The script then ran just fine, until it failed with a seemlingly unrelated error:
[code]

I think the safest and c

[2019-02-28 15:03] mikaelvesavuori commented on #3
Yeah, no problem! Thanks for looking into it.

[2019-03-01 17:52] vspedr opened #5 "Suggestions"
Hello again @mikaelvesavuori,

I really enjoyed using figmagic and I see there is a lot of potential for improvement to make it an even more useful tool. Here are some suggestions I'd like to see in the future, and if you agree, I can probably address some of these with PRs or we can discuss before making any decisions:
- [x] error handling: I see you added a few validation rules console.error mes

[2019-03-01 19:11] mikaelvesavuori commented on #3
Closing this because the issue was fixed in the merge.

[2019-03-01 20:15] mikaelvesavuori commented on #5
Added process.exit(1) to every error (well, except one bit which could do without, I believe), and also added "js" as a possible flag if you want .JS files.

[2019-03-01 21:23] mikaelvesavuori commented on #5
Began writing some tests, using Jest. Let's see when those are done.

[2019-03-02 15:18] mikaelvesavuori commented on #5
I've now integrated the work I've done on tests into both develop and master. They are in no way covering everything yet, but it's a whole lot better than nothing! :) Closing this for now, and please feel free to setup a dedicated new issue for anything to do with continuing CI or testing work.

[2019-03-02 15:18] #5 closed

[2019-07-11 13:46] sogen opened #6 "Help installing, how to run `npm setup`"
Hi, currently stuck at step #2

1.- cloned directory, opened terminal in fig magic folder
2.- then ran `npm setup`

Output:

[code]

[2019-07-19 16:39] mikaelvesavuori commented on #6
Hi Sogen,

Sorry for very late reply. The command was a sloppy one on my part: it should of course be `npm run setup` as usual with NPM. This is now also amended in the readme file.

Closing this now.

[2019-07-19 16:39] #6 closed

[2019-07-19 16:44] sogen commented on #6
thanks!

[2019-12-30 12:50] #2 closed

[2020-02-06 18:01] andredovale opened #11 "Too many changes in my fork"
Hi Mikael,

I have forked this lib from another repo ( @smmccabe/figmagic ), because in this repo they have more implementations to process the values from Figma API.

But, currently, I have made too many changes in the project to deliver our internal product where I'm allocated. Basically, the changes I have made are:

- Source code migrated to `TypeScript`;
- Lib builded with `Rollup`;
- Tests (

[2020-02-25 18:17] mikaelvesavuori commented on #11
Hi @andredovale and sorry for replying late.

Thanks for your work and happy that you are getting use of Figmagic!

I've worked on a substantial rewrite and cleanup for some time and finally got the possibility to finish my work in the weekend. Because of my own many changes, I will pass on merging any changes. However, I've taken a small number of README edits you've done and added those to mine.

[2020-02-25 18:17] #11 closed

[2020-03-12 16:58] joeleduardo commented on #3
Trying on Mac im still having the error :(

[2020-03-12 18:31] mikaelvesavuori commented on #3
Please add more details on your setup.

- What version of Node do you have?
- Are you trying to use Figmagic version 2.0.0?
- Are you following the API credentials instructions as per "Running Figmagic" in the README?
- Are you attempting to use Figmagic as a dependency for another project, or on its own?
- Have you tried running Figmagic with `node --experimental-modules index.mjs`? (assumes that

[2020-03-16 14:35] wfortin commented on #3
Experiencing the same issue:
Running through npm
[code]
With the default `.figmagicrc` config in the README.md + .env with FIGMA_URL + FIGMA_TOKEN set.

Node version: v12.14.1
Figmagic version: 2.1.1 installed locally in the project

Output:
./node_modules/figmagic/index.mjs: line 2: //#: No such file or directory

[2020-03-16 14:39] wfortin commented on #3
it works when adding `node --experimental-modules index.mjs` in front of the script, so my script now looks like so:

[code]

[2020-03-16 15:46] mikaelvesavuori commented on #3
Hey @wfortin. That message is not actually an error, per se. I'll spend some time to maybe remove that if possible and absolutely to create a "Job complete" message or some such thing. Unbelievably, there actually is no message to indicate all went well. Check your /tokens folder if you got your tokens.

If you DID get
[code]
or anything like that, that **would** be an error, however.

[2020-03-16 16:04] mikaelvesavuori commented on #3
The success message is now added in version 2.1.2.

[2020-03-16 19:14] mikaelvesavuori commented on #3
Closing as this is no issue and its taken care of with a better message in 2.1.2 and the README which will be updated shortly.

[2020-03-17 14:44] joeleduardo opened #13 "Fixing shadows (box-shadow)"
Hi im started to used your figmagic and is awesome!!! but looking into shadows tokens result file i saw that are take a extra `param` in the shadow and display it a wrong effect... so my question is what is reason with not update this line..

` shadowObject[name] = ${X}px ${Y}px 10px ${RADIUS}px rgba(${R}, ${G}, ${B}, ${A});`

To

` shadowObject[name] = ${X}px ${Y}px ${RADIUS}px rgba(${R}, ${G}, $

[2020-03-17 15:05] joeleduardo opened #14 "Corner radius (border-radius)"
I found that are using `%` instead of `px` here ...

https://github.com/mikaelvesavuori/figmagic/blob/master/bin/functions/normalizeUnits.mjs
Line: 46

In the figma document example the CSS the corner radius is in pixels instead percentage

[2020-03-17 19:27] #13 closed

[2020-03-17 19:27] #14 closed

[2020-03-17 19:27] mikaelvesavuori commented on #13
Fixed in 2.1.8

[2020-03-17 19:27] mikaelvesavuori commented on #14
Fixed in 2.1.8

[2020-03-25 19:42] edisonmatoso commented on #3
same error ocurring with me.

OS: Win 10
Node: 12.16.1
figmagic: 2.1.13

[2020-04-17 22:12] rodolfodosanjos opened #18 "RGBA opacity is not working"
**Describe the bug**
We defined RGBA colors with opacity on figmagic, but the RGBA color on the generated json does not have opacity

**To Reproduce**
Steps to reproduce the behavior:
1. Create a RGBA color with opacity on figma
2. Export to js with figmagic
3. Checkout generated js

**Expected behavior**
Generate RGBA with opacity

**Screenshots**
![figmagic bug](https://user-images.githubusercon

[2020-04-18 06:01] mikaelvesavuori commented on #18
Hey @rodolfodosanjos!

This should now be fixed in `3.0.9`.

Closing this for now.

[2020-04-18 06:01] #18 closed

[2020-04-22 08:14] peterp opened #19 "Global installation of figmagic cannot find file or directory"
When I attempt to run the figmagic CLI that's install globally:

[code]

Steps to reproduce the behavior:
1. `npm install -g figmagic`
2. `figmagic`
3. See error

Perhaps I'm meant to pass in a configuration file?

[2020-04-22 08:16] peterp commented on #19
I see that this is a duplicate of #3. Maybe you can help me understand why this is failing, and how you would consider fixing it so that I can provide a PR?

[2020-04-22 08:39] mikaelvesavuori commented on #19
Hi @peterp!

Let's try two things:

1. Are you running Node 13 or over? Just in case, you could try running `node --experimental-modules ./node_modules/figmagic/index.mjs`. Obviously this assumes that you are doing this within a project or relative to a non-global install, but I'd be happy to know if that worked better.

_but it's probably more likely to be:_

2. You should have a config file layi

[2020-04-22 08:45] mikaelvesavuori commented on #19
The fix to this, given that the above resolves your problem, is (I would say) a better error message and throwing an error when there is no URL and/or token.

[2020-04-22 08:46] mikaelvesavuori commented on #3
@edisonmatoso : Could you see if my proposed resolution at [https://github.com/mikaelvesavuori/figmagic/issues/19](https://github.com/mikaelvesavuori/figmagic/issues/19) fixes this for you?

[2020-04-22 09:00] mikaelvesavuori commented on #19
@peterp : I think I have verified that this happens when you don't have a `.figmagicrc` file. Please ensure you have one. I'll see if I can output a message or something when it does not exist.

[2020-04-22 09:15] mikaelvesavuori commented on #19
Pushed to `3.0.10`. It will let you skip having a `.figmagicrc` file.

[2020-04-22 18:17] edisonmatoso commented on #3
@mikaelvesavuori correct setup of `.figmagicrc` has fixed the error. my suggestion is create an error message more user-friendly when cause is incorrect setup of `.figmagicrc`

[2020-04-22 18:19] mikaelvesavuori commented on #3
Thanks! Will add a ticket to look at potential improvement further on. Closing.

[2020-04-22 18:19] #3 closed

[2020-04-27 11:06] mikaelvesavuori commented on #19
@peterp : Can you verify if the new version works for you?

[2020-04-27 11:29] peterp commented on #19
Hey there @mikaelvesavuori, sorry for the delay, I'll get back to you before the end of the day!

[2020-04-27 11:30] peterp commented on #19
Also, thank you so much for fixing this so quickly.

[2020-04-27 17:28] peterp commented on #19
Works awesome, thank you so much!

[2020-04-27 17:28] #19 closed

[2020-05-15 08:32] sareg0 opened #23 "Support for Multiple box-shadows"
**Is your feature request related to a problem? Please describe.**
My team and I have been enjoying working with Figmagic, but we ran into a limitation; we work with compound box shadows and Figmagic "_currently only supports a single Drop Shadow_". Being able to export compound box-shadows would be a great feature for us.

**Describe the solution you'd like**
 I am wondering what might make it po

[2020-05-15 08:45] mikaelvesavuori commented on #23
Hey @sareg0!

I will look into this. Looked at my notes (still not in the Projects board yet) and didn't find a TODO for this. Will come back to you and hopefully add it over the weekend.

[2020-05-15 11:31] #23 closed

[2020-05-15 11:31] mikaelvesavuori commented on #23
Hi again. This was an easy fix. I've now added support for multiple Drop Shadows (other types will take a bit more time to implement). Support is added in 3.0.12.

[2020-05-15 14:49] sareg0 commented on #23
Woah! Thank you so much for the rapid response! It works like a ✨charm✨

[2020-05-16 11:44] mikaelvesavuori opened #25 "FEATURE: Support Windows"
Add support for Windows.

First implementation should at least pass builds.

[2020-05-16 11:44] mikaelvesavuori opened #26 "SYSTEM: Add Microbundle"
Add a "first draft implementation" of Microbundle doing its thing.

Potentially revise after more thorough use.

[2020-05-16 13:24] mikaelvesavuori commented on #26
Added in `3.0.14`.

[2020-05-16 13:24] #26 closed

[2020-05-16 13:24] mikaelvesavuori commented on #25
Added in `3.0.14`.

[2020-05-16 13:24] #25 closed

[2020-05-26 10:04] Stanko opened #30 "Add descriptive elements to the artboards by using "ignore" prefix"
**Is your feature request related to a problem? Please describe.**

Currently artboards can only contain token elements and nothing else. It makes hard to onboard people and makes it easy to make mistakes and mess up the document.

**Describe the solution you'd like**

I think it would be very useful to be able to add elements that are ignored by figmagic's processing. Every element that has a cer

[2020-05-26 13:00] mikaelvesavuori commented on #30
Sounds like a good idea. It's added to the backlog now!

[2020-05-26 13:04] Stanko commented on #30
Sweet, I'll open a PR this week.

[2020-05-28 10:43] #30 closed

[2020-06-22 08:04] jchiem opened #37 "Feature request: support for transforms as design tokens."
**Is your feature request related to a problem? Please describe.**
Would it be possible to add a way to support CSS [transform](https://developer.mozilla.org/en-US/docs/Web/CSS/transform) as design tokens? Such as `transform: scale()`, `transform: rotate()` etc.
From a code perspective it'd be useful to be able to use design tokens for setting these type of values.

Not sure if it's possible withi

[2020-06-22 08:28] mikaelvesavuori commented on #37
Hey @jchiem ,
Sounds like a potentially good idea!

I guess that info should be able to be derived from Figma. Will need to verify first.

[2020-06-22 08:55] jchiem commented on #37
I discussed this a bit with team members in my project and we think it might make most sense to keep the design tokens to be referencing specifically the decimal/integer value for the design token value. So if you have `transform: scale(1.5)` the design token would probably be 1.5, but not sure if it would translate properly to how designers would work with it in Figma.

Not sure exactly how it'd

[2020-06-22 17:40] mikaelvesavuori commented on #37
I mean, just extracting string (fake floats) values like with Z indices is not too hard. It’s a bit your call: would something like a float number (i.e. ”1.5”) be something you would use?

[2020-06-29 11:13] jchiem commented on #37
I believe it would be yes.

Yeah, I think that should work.

Sorry for the slow reply.

[2020-08-08 18:39] mikaelvesavuori opened #43 "Output animation timings"

[2020-08-08 18:40] #43 closed

[2020-09-09 08:40] #37 closed

[2020-09-10 10:02] flo-sch opened #52 "Feature request: ignore tokens?"
Figmagic takes options to disable the graphics and elements sync:

[code]

Would it be possible to have a similar flag for tokens?

Context: I am using Figmagic (same Figma document) in 3 repositories:
- one UI package (fetching design tokens)
- 2 applications (syncing *only* graphics for now, importing tokens from the UI package)

I would just ensure tokens are not fetched unintentionally from wi

[2020-09-10 10:03] flo-sch commented on #52
NOTE: I am looking at a way to package icons as well (which would remove the need for that feature), just haven't found a nice way yet to make that work

[2020-09-10 17:40] mikaelvesavuori commented on #52
I will add this to the backlog and deal with in the on-going version 4.0 work. ETA for Figmagic 4.0 is in the coming 2-4 weeks.

[2020-09-11 13:08] anback opened #53 "SyntaxError: Unexpected reserved word when importing elements from example project"
When importing elements from figmagic example project we get the following error message:

![image](https://user-images.githubusercontent.com/2440382/92929152-63f05300-f440-11ea-943a-2f7fb6c3f436.png)

Here is our figma json attached.

Error message is really not explicit. maybe this issue is about producing a better error message. plz advice

Using the master branch and node version 12.14

[2020-09-11 13:20] mikaelvesavuori commented on #53
Interesting. I will see how I can troubleshoot this. I'm kind of putting down version 3 for now, as I am finishing the fairly big migration to Typescript coming in version 4.

Note that the error itself is not output through Figmagic. "Unexpected reserved word" makes me thing maybe your component(s) has a named that is reserved in JS? Weird, but who knows.

Keeping this open, and I'll see what th

[2020-09-11 13:22] mikaelvesavuori commented on #53
I see you changed title. Is this with figmagic-example? (https://github.com/mikaelvesavuori/figmagic-example)

[2020-09-11 13:32] mikaelvesavuori commented on #53
With a fresh `figmagic-example`I just verified basic functionality by:
* Fresh pull
* Install dependencies
* Rename `env` to `.env` and set your URL and token; you can copy a Figmagic template at `https://www.figma.com/community/file/821094451476848226/Figmagic-%E2%80%94-Design-System-for-Tokens`
* Create `.figmagicrc` and set `syncElements: true`
* Run `npm run figmagic`

No errors. Can you speci

[2020-09-12 09:44] tomsoderlund commented on #53
Hi @mikaelvesavuori, I work with @anback.

I just tried:

- Local install of figmagic@^3.0.23 (on node v13.12.0)
- `.env` with FIGMA_TOKEN, FIGMA_URL
- The default `.figmagicrc` from README but with `syncElements` and `syncGraphics` being true.
- Running with `node --experimental-modules ./node_modules/figmagic/index.mjs --syncGraphics --syncElements`

Design tokens are created just fine, but I ge

[2020-09-12 09:56] tomsoderlund commented on #53
@mikaelvesavuori I added a try/catch to `figmagic/index.mjs` and got this clue:

    SyntaxError: Unexpected reserved word
      at Loader.moduleStrategy (internal/modules/esm/translators.js:81:18)
      at async link (internal/modules/esm/module_job.js:37:21)

[2020-09-12 11:40] mikaelvesavuori commented on #53
Hey! I've done a small set of updates and pushed 3.0.24 now. However, none of that has any clear, 100% sure impact on the issue. The error comes from deeper inside Node, as previously stated. I did in fact get that same error on my first attempt, but it "magically" disappeared on the second run...?

The new version updates dependencies, removes the unnecessary console.log() messages and removes th

[2020-09-12 12:10] tomsoderlund commented on #53
Hi @mikaelvesavuori, thanks for the rapid response & action!

Unfortunately, I get the same error with 3.0.24 as before.

I also, _sometimes_, get this error (had same with 3.0.23):

    Error [ERR_MODULE_NOT_FOUND]: Cannot find module '/MY_PROJECT_PATH/tokens/colors.mjs' imported from /MY_PROJECT_PATH/node_modules/figmagic/bin/functions/process/parseTypographyStylingFromElement.mjs

…but I think

[2020-09-12 12:26] mikaelvesavuori commented on #53
Too bad, but was worth a shot, if at least to update dependencies.

Tell me a bit about your current setup? Are you running within the Figmagic project, or are you using Figmagic as a dependency and running commands inside that project (as intended)?

One aspect I was reminded of now, since I am obviously not the typical consumer of Figmagic (rather, the producer), is that you need a folder of tem

[2020-09-12 12:51] tomsoderlund commented on #53
It sounds like it could be “folder of templates” problem, will check that out.

I created a blank project with `yarn init` and added Figmagic as dependency.

[2020-09-12 12:56] tomsoderlund commented on #53
P.S. @mikaelvesavuori Figmagic is such a game changer for UI development. I tried to make a Twitter shoutout that Figma should pay you to work on this but couldn’t find you on Twitter...

[2020-09-12 13:02] mikaelvesavuori commented on #53
Yeah, social media just ate so much time so I got rid of everything other than LinkedIn, years ago. I'd rather commit my spare time to open source than scroll all day! :) Much appreciated though, and I am always happy to hear from anyone using it. Feel free to hit me up if you are in the Göteborg area.

I am still continuing to see what I can possibly do in v3 before v4 drops, so keep nagging me i

[2020-09-12 16:18] tomsoderlund commented on #53
Sounds like smart priorities! Will certainly ping you when I’m in Göteborg.

Anyway, I changed the paths in `.figmagicrc`:

    "templates":{
      "templatePathReact":"./node_modules/figmagic/templates/react.jsx",
      "templatePathStyled":"./node_modules/figmagic/templates/styled.jsx",
      "templatePathStorybook":"./node_modules/figmagic/templates/story.js"
    }

…but still getting the “Unex

[2020-09-12 16:29] tomsoderlund commented on #53
**Progress!** Using https://github.com/mikaelvesavuori/figmagic-example instead of my "from scratch" project manages to export Elements. Now trying to figure out what was missing in my project.

[2020-09-12 16:39] mikaelvesavuori commented on #53
Awesome! If you find what the diff was, I will be happy to improve docs for version 4.

[2020-09-12 16:40] tomsoderlund commented on #53
...and "solved"! Copying `.figmagicrc` from https://github.com/mikaelvesavuori/figmagic-example instead of using the one in the README https://github.com/mikaelvesavuori/figmagic#configuration-file-figmagicrc made it work.

Here’s the diff, I haven’t been able to figure out what caused the problem (it’s not `usePostscriptFontNames`):

<img width="1134" alt="figmagicrc_2_versions" src="https://user

[2020-09-12 16:53] tomsoderlund commented on #53
This is my current, minimalistic yet working `.figmagicrc`:

    {
      "outputTokenFormat": "mjs",
      "templates": {
        "templatePathReact": "./node_modules/figmagic/templates/react.jsx",
        "templatePathStyled": "./node_modules/figmagic/templates/styled.jsx",
        "templatePathStorybook": "./node_modules/figmagic/templates/story.js"
      }
    }

I tried changing `outputTokenFo

[2020-09-12 19:00] mikaelvesavuori commented on #53
Cheers! Thanks for the update. Will have this in mind for v4. Closing since the issue is resolved.

Did a quick poke previously today on fixing the JS errors, but it's non-trivial enough that's I'll let that be fixed in the major release, instead of spending time fixing it now.

[2020-09-12 19:00] #53 closed

[2020-09-15 12:42] tomsoderlund opened #54 "Feature request: Print hex colors as well as RGB values"
The CLI tool currently outputs:

    ! No matching token! Hard-coding to expected value: color: rgba(164, 164, 164, 1)

Desired:

    ! No matching token! Hard-coding to expected value: color: rgba(164, 164, 164, 1) (#A4A4A4, 100%)

This makes it easier to debug since colors are shown as (#A4A4A4, 100%) in Figma.

[2020-09-15 19:05] mikaelvesavuori commented on #54
This should be possible to do. I will add it to the v4 backlog.

[2020-09-17 09:13] tomsoderlund opened #55 "Font names are different in Design Tokens and Elements’ CSS"
**Describe the bug**
Font names are different in Design Tokens and Elements’ CSS.

**To Reproduce**

1. Create a Figma design with "Inter" as font.
2. Export both Design Tokens and Elements.

**Expected behavior**

The same font names in both files.

**Screenshots**

![fontFamilies](https://user-images.githubusercontent.com/1368668/93448745-3a1dad00-f8d4-11ea-8e31-da8ea890e972.jpg)

![ButtonBigPri

[2020-09-17 09:22] mikaelvesavuori commented on #55
Will add to v4 backlog!

[2020-09-27 18:39] mikaelvesavuori commented on #54
This should now be completed. Moving close to a v4 release. Now it's just mostly a matter of documentation work, plus your "font names diff" request.

[2020-09-28 11:32] tomsoderlund opened #56 "Support for forward slash (`/`) in Element naming (e.g. `MyButton / primary / :hover`)"
**Is your feature request related to a problem? Please describe.**
The forward slash (`/`) has a [special meaning in Figma components (also for names of color/text/effect styles)](https://www.figma.com/best-practices/components-styles-and-shared-libraries/organizing-and-creating-libraries/#forward-slash-naming). It allows you to create groups of similar components that can be easily swapped out.

[2020-09-28 11:56] mikaelvesavuori commented on #56
This may be problematic because of Unix/Mac and how the slash can be a folder separator. I'll probably have to add some amount of logic to handle that.

I will investigate when I have time!

[2020-09-28 12:35] tomsoderlund commented on #56
@mikaelvesavuori I see now that Figmagic is indeed parsing the slashes, but creates completely separate components for each group, e.g. `Button\Normal`, `Button\Primary`.

[2020-09-28 13:35] tomsoderlund commented on #56
From Figma’s documentation on how to use slash in layer naming:

<img width="730" alt="Figma_docs" src="https://user-images.githubusercontent.com/1368668/94439053-332e4e80-01a0-11eb-8094-39189b5824e2.png">

[2020-09-30 20:32] #54 closed

[2020-09-30 20:32] mikaelvesavuori commented on #52
This is implemented in version 4.

[2020-09-30 20:32] #52 closed

[2020-09-30 20:35] mikaelvesavuori commented on #55
I investigated this last weekend, and it's due to that both non-Postscript and Postscript font names are used under the hood.

Using non-Postscript names (like your "Inter" example) creates mayhem with font family matching (if adjusted out of the box with no other big changes), resulting in several font families overwriting each other, though all using the one family.

This is now mostly a logical

[2020-09-30 20:37] mikaelvesavuori commented on #56
This will probably not be supported, since the Figmagic mental model is different enough from the Sketch/Figma "slash names" concept. Combined with the problems of Node and cross-platform parsing of slashes I don't see this as an immediate candidate for v4.

[2020-10-02 16:35] mikaelvesavuori commented on #56
With a tiny bit of extra mental effort, I see that the main implication of changing this is that the entire behavior and structuring of (in Figmagic's case) classes will change. I will postpone this until at least after Figma Variants have been publicly available.

[2020-10-02 16:35] #56 closed

[2020-10-02 18:34] mikaelvesavuori commented on #55
This should now be fixed in version 4.

[2020-10-02 18:34] #55 closed

[2020-10-03 10:09] tomsoderlund commented on #55
Can I test v4 somehow?

On Fri, 2 Oct 2020 at 20:35, Mikael Vesavuori <notifications@github.com>
wrote:

[2020-10-03 10:46] mikaelvesavuori commented on #55
Yes. Depends a bit on how you run Figmagic today.

Given that you have it as a dependency in a project today, you should be able to explicitly specify the version in package.json as ”4.0.0-alpha”.

For global install, clone or download the repo. Ensure you have v4 branch active and then run ”npm install -g”. That should put the v4 alpha as the global binary for Figmagic.

[2020-10-03 10:46] mikaelvesavuori commented on #55
I will add further notes after lunch.

[2020-10-03 11:16] mikaelvesavuori commented on #55
And this is the current base configuration. You'll maybe notice that some flags are changing names, and that new ones are available.

[code]

[2020-10-15 20:23] ursooperduper opened #70 "Opacities not output in colors.ts"
**Bug Description**
When a color is output from Figma, the corresponding opacity is set to 1 regardless of the opacity set in Figma.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a rectangle in a Colors frame on the Design Tokens page in a Figma project.
2. Set the color value to 0, 0, 0, 10%
3. Run figmagic and view the resulting colors.ts file

**Expected behavior**
The colors fil

[2020-10-15 20:49] mikaelvesavuori commented on #70
Hey! Thanks for reaching out. This should now be fixed in the ongoing `v4` branch.

[2020-10-15 21:16] ursooperduper commented on #70
Awesome. I'll take a look at that branch.

[2020-10-16 09:21] mikaelvesavuori commented on #70
`v4` is now public, and available in `4.0.0`. Closing.

[2020-10-16 09:21] #70 closed

[2020-10-19 14:59] ursooperduper opened #73 "Feature request: Support for gradient fills"
**Problem**
Often, style guides or design system foundations will describe not just colors, but also gradient fills. Right now, these are not supported by Figmagic which means I have to find a manual way to add that to our design tokens file.

**Solution**
An example output I'd like to see in the colors.ts file:
[code]

**Additional context**
Here's the UI panel in Figma:
<img width="249" alt="Scr

[2020-10-19 16:45] mikaelvesavuori commented on #73
Yeah, this seems to be taken care of in one the element parsers, but seemingly not during the token generation. I'll absolutely try to implement this within the week! I already have a brute copy-paste solution up and running that currently generates a linear gradient as:

[code]

[2020-10-21 11:00] mikaelvesavuori commented on #73
I get hard axis degree values like 0, 90 and 180 working perfectly, though my eight-grade math is too poor to fully fix this *lol*. I have a document at https://repl.it/@mikaelvesavuori/LinearGradient if anyone want to poke at solving the degrees.

[2020-10-24 18:05] mikaelvesavuori commented on #73
Hi again. Basic support for linear gradients is now fixed (again, this kind of existed but was split into two different implementations—this is now consolidated). You should be able to get linear gradients working, but do be aware that only angles like 0, 90, 180 work perfectly, since the Figma implementation of the angle degree calculation is dependent on the box size as well. The current impleme

[2020-10-24 18:05] #73 closed

[2020-12-06 09:45] manuschillerdev opened #80 "Missing one or more of required arguments: "figmaToken", "figmaUrl" when attempting to get data from Figma API!"
**Describe the bug**
I get an errormessage indicating that my token and figa url are not processes correctly

**To Reproduce**
1. yarn global add figmagic
2. duplicate https://www.figma.com/community/file/821094451476848226
3. create new local folder with `.env` file:
[code]
4. run `figmagic` in this folder

**result**
[code]

**Expected behavior**
figmagic can connect to my design and extract the

[2020-12-06 10:11] manuschillerdev commented on #80
I got it.
You need to pass in the ID of your File into the variable FIGMA_URL. It is described in the readme, but the name confused me.
Maybe FIGMA_URL would better be called FIGMA_FILE_ID or something similar?

so in my case it was
[code]

leaving this open for feedback on the wording - but my actual problem is solved :)

[2020-12-06 10:24] mikaelvesavuori commented on #80
Hey! Good you made it 👍

Agree on the wording, it has been something I have thought about more than once.

Will give it a poke and see if this is easily handled, in which case I will fix this in the next few days.

[2020-12-07 18:19] mikaelvesavuori commented on #80
This issue is now fixed in `4.0.2`.

Instead of renaming the variable and breaking a lot of users' setups, the URL is funneled through a function that checks whether the string looks like a full URL (beginning with `https://www.figma.com/file/`) or else just uses whatever comes in.

Thanks for raising. Happy to have improved this!

[2020-12-07 18:19] #80 closed

[2020-12-15 11:29] flo-sch opened #82 "Handle "auto" line-height values from Figma?"
**Describe the bug**

I just faced a bug with line-height tokens in Figma, I have some ideas and will be happy to contribute with a PR, but just wanted your view with it first
(We can also discuss it live if you prefer)

To resume, our designer defines text styles that we re-use in the Tokens Figmagic board to extract the tokens. (So we should not adjust those values manually).
One of those values

[2020-12-15 11:40] flo-sch commented on #82
Seems like Figma uses "Auto" as a default value for "100%":
https://help.figma.com/hc/en-us/articles/360040449893-Line-height-behavior

We could potentially use the `lineHeightPercent` property instead? (That would mean resulting to `1.00` as a value in such case)

[2020-12-15 13:17] mikaelvesavuori commented on #82
Hi @flo-sch, I'm happy to take a solution proposal/pull request. The only real input I have at the moment is that I want to ensure that behavior is not altered; something I think that will happen if using `lineHeightPercent` instead.

Go ahead and give it a stab if you can!

[2020-12-15 13:19] mikaelvesavuori commented on #82
I see that the reason I stopped using `lineHeightPercent` because it's deprecated.

Refer to [https://www.figma.com/developers/api](https://www.figma.com/developers/api)

[2020-12-15 13:25] flo-sch commented on #82
Ah yup, good one, might as well not use that one then!
Then I'll have a look at a conversion instead, will submit a PR sometimes this week hopefully!

Can't get proper specifications from Figma regarding that non-standard "Auto" value, seems akward :/

[2021-01-27 11:01] #82 closed

[2021-01-29 21:41] poindexterous opened #88 "Access token and file URL args are not being read from .env file, .figmaircrc or --token & --url cli parameters"
Hi all,
I'm scratching my head a bit, I think I'm following the documentation but I can't seem to get my access token or my file ID variables to be pulled into figmagic as I try to run it for the first time. I've used postman to verify that the file ID and token work when pinging the figma API. I'm wondering if I'm just missing something silly and not seeing it, or if it might be a bug or some sor

[2021-01-30 08:15] mikaelvesavuori commented on #88
Hey, thanks for reaching out!

I created a local demo scenario with a blank folder, ran `npm init -y`, `npm install figmagic -D`, added the `figmagic` command to the scripts section, and then ran various variants of files being present/absent.

What I have not done at this time is try this on a Windows setup (I develop on Mac, but can probably squeeze in some time to try this on my PC during the w

[2021-01-30 08:21] mikaelvesavuori commented on #88
Also, might sound dumb and may not be anything, but do test your `.env` file with the kind-of truncated format, like so:
[code]
instead of using spaces (`FIGMA_URL = {url}`).

Just in case there is something dumb going on under the hood.

[2021-01-30 13:02] mikaelvesavuori commented on #88
I verified that I get this working on Windows 10 with both VS Code and in Terminal and in PS7 using the above.

[2021-01-30 15:59] poindexterous commented on #88
Thanks @mikaelvesavuori!!! I edited the .env file to get rid of the spaces and everything worked. I feel pretty sheepish but I figured it was either something silly or I'd stumbled across something temperamental in windows. Glad it was the former. Thanks for taking the time to investigate even though it turned out to be user error on my end.  As far as versions go, it turns out that I had figmagic

[2021-01-30 15:59] #88 closed

[2021-01-30 16:20] mikaelvesavuori commented on #88
It's the little bits that get you :) No worries at all, and _thank you_ for bringing to my attention an actual, real bug 👍

Enjoy, and hope the rest of your experience is better!

[2021-02-17 20:05] Selino opened #90 "Ignore frames that start with _"
It's sometimes difficult to integrate Figmagic into an existing UIKit with an aesthetic theme. For example: Let's say that I want to put a small description on the "Design Tokens / Colors" frame to call out the Brand colors.

<img width="186" alt="Screen Shot 2021-02-17 at 11 07 44 AM" src="https://user-images.githubusercontent.com/999712/108254996-7fa70600-7110-11eb-9ded-53876feec760.png">

Figma

[2021-02-19 13:17] mikaelvesavuori commented on #90
Hey! I was confused a bit since this "should have been there", but was reminded that this should work for Elements, not for frame under Design Tokens.

I'll give it a look, should be a very simple fix.

[2021-02-24 02:12] stefencookwnzl opened #91 "Unable to connect to Figma API"
**Describe the bug**
Based on figmagic-example-master example. _token_ and _url_ variables read from .env, .figmaicrc or CLI --token or --url command parameters but errors out with "Error: Error: Error: Missing one or more of required arguments: "figmaToken", "figmaUrl" when attempting to get data from Figma API!". No issue connecting via Postman.

**To Reproduce**
**Scenario 1** - Using .env file

[2021-02-24 06:17] mikaelvesavuori commented on #91
Hi!

**Action 1**: It seems you are using version 4.0.7 or 4.0.8, based on those debug logs? Update to 4.0.9 in case you're not on that version.

I could not reproduce your issue with a blank new folder/project with an `.env` formatted like this:

[code]

and having run:

[code]

I also ran the same with the `.figmagicrc` file from scratch (no `.env` file):

[code]

I did also get it to work corre

[2021-02-24 06:21] mikaelvesavuori commented on #91
However, there is (I see) a bug where

[code]

is thrown if running debug mode on an inline parameter variant, like so `node ./node_modules/figmagic/build/index.js --token ABC --url XYZ --debug`. I'll put up an issue for that.

[2021-02-24 06:25] mikaelvesavuori opened #92 "Debug flag on inline parameter will throw error (undefined children)"
**Describe the bug**
There is a bug where

[code]

is thrown if running debug mode on an inline parameter variant, like so `node ./node_modules/figmagic/build/index.js --token ABC --url XYZ --debug`.

**To Reproduce**
Steps to reproduce the behavior:
1. Create blank new project with `npm init -y`
2. Install Figmagic with `npm install figmagic -D`
3. Run `node ./node_modules/figmagic/build/index.js

[2021-02-24 06:26] mikaelvesavuori commented on #92
This seems to happen even outside of debug mode.

[2021-02-24 06:28] mikaelvesavuori commented on #91
I put an issue for the above, and I'd advise you to skip the `debug` flag since that has some unknown problem.

[2021-02-24 08:37] stefencookwnzl commented on #91
Thanks Mikael - I've gone through the initiation as per your instructions and can't fault it this time. I appreciate you taking the time to respond what I thought was an issue, however it was obviously something I'd done! I'll compare branches tomorrow and work out where I went wrong.

[2021-02-26 16:34] CodeByAlex opened #93 "Request for New Output Format: JSON"
**Is your feature request related to a problem? Please describe.**
I think it would be great if this tool could output the tokens as JSON so that they could be injected by other tools such as Style Dictionary by amazon.

**Describe the solution you'd like**
During the token creation process, when js/ts is generated, json could also be an output option using the same naming.

**Describe alternative

[2021-02-27 00:23] CodeByAlex commented on #91
Hey @mikaelvesavuori - Im receiving the same error with a similar setup in the original post:
export const ErrorGetFromApi = ErrorMessage(
  'Missing one or more of required arguments: "figmaToken", "figmaUrl" when attempting to get data from Figma API!'
);

USER: Environment configuration (Low priority)

{
  token: 'XXXXXXXXXXXXXX',
  url: 'XXXXXXXXXXXXXX'
}
USER: Command-Line configuration (Medi

[2021-02-27 06:30] mikaelvesavuori commented on #91
Hi! Try putting double quotes around the values in the env file. Pretty sure that should help.

[2021-02-27 08:30] mikaelvesavuori commented on #91
Hi again.

My understanding (from assumptions plus reading the logs) is that:
- You are on Mac OS,
- You are setting your token and URL in `.env`,
- You are using the `--debug` flag.
Please correct me if I am wrong on any of these.

Based on the logs it certainly looks like your token and URL is correctly propagated through the configuration steps (as it's part of the final config, seen in the bot

[2021-02-27 08:45] mikaelvesavuori commented on #91
@stefencookwnzl Hey, did you ever figure out what the diff between your approach and mine was?

[2021-02-27 13:56] mikaelvesavuori commented on #92
The error must have been because the URL/file ID was incorrect but the token was valid.

Unable to otherwise see similar errors.

[2021-02-27 13:56] #92 closed

[2021-02-27 15:22] mikaelvesavuori commented on #90
Starting in `4.0.11`, you can skip both pages and frames/layers with a leading underscore.

There was also a previous (undocumented) support to ignore layers simply called `ignore`.

Closing for now.

[2021-02-27 15:22] #90 closed

[2021-02-27 17:17] mikaelvesavuori commented on #93
Hi @CodeByAlex,

This feature was added to version `4.0.12` which just got released.

You either set `"outputFormatToken": "json"` in `.figmagicrc` or pass `--outputFormatTokens json` when you call Figmagic on the command line.

The result is going to be exactly what the regular TS/JS tokens look like, but without the warning on the first line, or the export statement.

Another option would be usi

[2021-02-27 17:17] #93 closed

[2021-02-27 19:58] CodeByAlex commented on #91
Hey I just tried this and didnt have any luck, unfortunately.

[2021-02-27 20:03] CodeByAlex commented on #91
You are on Mac OS
YES

You are setting your token and URL in .env
Thats one method Ive tried but Ive also tried setting the token and url as command line args and in the config file. Whenever I set the token and url, I only set them using one of the methods

You have a custom .figmagicrc config,
YES but I could try without. Ive also tried the init command to create a standard gen version but had t

[2021-02-27 20:07] CodeByAlex commented on #91
Question 1: Are you attempting to use Figmagic as a consumer, or are you trying to develop for it? (thinking of your specific mention of the actual error as it's written in the source code)
Im using it as a consumer (and am super excited to do so!) at the moment but may eventually want to contribute

Question 2: What Node version are you on?
Node version = 12.18.3
NPM version = 6.14.6

Question 3:

[2021-02-27 20:37] CodeByAlex commented on #91
Action 1: An invalid JSON file could cause errors. Ensure your .figmagicrc is valid JSON. Can you please re-format the config to:

{
  "fontUnit": "rem",
  "letterSpacingUnit": "em",
  "opacitiesUnit": "float",
  "figmaData": "figma.json",
  "figmagicFolder": ".figmagic",
  "outputFolderElements": "elements",
  "outputFolderTokens": "tokens",
  "outputFormatElements": "tsx",
  "outputFormatTokens"

[2021-02-27 20:39] mikaelvesavuori commented on #91
Hi again. Thanks for the answers. This entire thing is so weird...

At this point, I'd hazard a guess that Node 12 _may_ be a problem here—and is really the only thing that sticks out for me TBH—(Figmagic is built and tested only for Node 14+, and does use things that could potentially break functionality in old versions). Could you try using Node 14 (maybe with `nvm` or similar, in case you know

[2021-02-27 20:54] mikaelvesavuori commented on #91
Just adding here that I am in fact now starting to see this. Will update when I have something crisp. Extremely bizarre though.

[2021-02-27 21:01] mikaelvesavuori commented on #91
OK, so I can't put my finger on it but in a brand new project something seems off about the RC file for token and URL. It _looks_ correct but somehow does not actually function.

I've created a minimal proof that I'd hope you could try. It uses the CLI to provide token and URL. You'd create a new folder, put this in as `package.json`, run `npm install`, add token + URL, and then do `npm start`. It

[2021-02-27 21:02] CodeByAlex commented on #91
Thanks a bunch for looking into this!

I tried with node v14 and got the same error.

Note (same results as with 12):
Removing the config file and just using the .env file with the token and url set, I get the following:
Error: Error: Error: Missing one or more of required arguments: "figmaToken", "figmaUrl" when attempting to get data from Figma API!

If I use the generated config file with the t

[2021-02-27 21:03] CodeByAlex commented on #91
Ill give it a go

[2021-02-27 21:08] mikaelvesavuori commented on #91
One thing, Google might like the trailing comma, but JSON parsing is prone to die on that. So in any RC or JSON files, avoid trailing comma's like you'd avoid second-hand smoking. Thinking of your previous example:
[code]

[2021-02-27 21:12] CodeByAlex commented on #91
Good callout about the comma, @mikaelvesavuori. Ill watch out for that. I tried adding those commands to the package.json, added in the token and url in the right place, set the version of figmagic to "figmagic": "^4.0.12", removed all my old configurations (started from scratch), deleted the node modules and package lock and ran npm install, and then I ran the start command.

It created the new c

[2021-02-27 21:43] mikaelvesavuori commented on #91
For the time being there is nothing further I can do on my end. I am unable to reproduce a set of steps or events that end up with this error. Given that the minimal working proof does not work for you, I am inclined on settling on something unknown on your end.

Again, I was seeing very intermittently a few instances of this, but it's all highly bizarre since there are several sets of redundancy

[2021-02-27 21:44] CodeByAlex commented on #91
Okay thanks @mikaelvesavuori. Ill keep trying. Please let me know if there is anything else you can think of that I should try. I'm a bit concerned about the number of "errors:" that are showing up in the log. Would increasing the logging help or do we not know enough about the error to determine the exact place to put the log?

[2021-02-27 21:52] mikaelvesavuori commented on #91
I believe the logging and error handling (at least when it comes to quantity) to be high, even sometimes excessive. The `Error:` nesting is just because of ugly use of `throw new Error()` that does that.

Some context: If you'd go through the source code, you'd find that the configuration is one of the first steps, and right after that (after also checking if the user wants to recompile from local

[2021-02-27 22:03] mikaelvesavuori commented on #91
You could always try this one: It uses a stricter type check on the above, removes the error throwing and outputs what the values are. This is freshly-compiled from my computer.

If you want to keep helping out, see if this package will work for you.

[build.zip](https://github.com/mikaelvesavuori/figmagic/files/6055600/build.zip)

[2021-02-27 23:04] CodeByAlex commented on #91
That worked perfectly!

[2021-02-27 23:05] mikaelvesavuori commented on #91
Perfect. I will look at releasing an update of some sort tomorrow.

[2021-02-27 23:05] CodeByAlex commented on #91
Thank you!

[2021-02-28 08:26] mikaelvesavuori commented on #91
This will be out shortly in `4.0.13`. I am not 100% happy about removing a null check—which should not even have triggered in the first place—to be removed. But if it works, then let's roll with it.

[2021-02-28 08:26] #91 closed

[2021-03-23 06:06] MasterMahariel opened #99 "Design token paths aren't updated in Element CSS imports"
**Describe the bug**
If you have a directory set for the `outputFolderTokens` key in `.figmagicrc` and have `syncElements` set to true, the design token import root paths for your element's CSS will be `tokens/` instead of the directory set in `outputFolderTokens`.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `.figmagicrc` in your project
2. Set `outputFolderTokens` to a custom loca

[2021-03-23 08:23] mikaelvesavuori commented on #99
This is now fixed in version `4.0.14`.

[2021-03-23 09:28] tomsoderlund opened #100 "Don't crash when not all Design Tokens frames are found"
**Is your feature request related to a problem? Please describe.**
I have no need of all Design Tokens-types, so I don't have all the required frames in my Design Tokens page.

I then get this crash when running Figmagic:

    Error: Error: Error: Error: Error: Error: Error: Error: Error: Error: ENOENT: no such file or directory, open 'MYPROJECT/tokens/letterSpacings.ts'

**Describe the solution y

[2021-03-23 10:24] mikaelvesavuori commented on #100
Hi @tomsoderlund,

Are you syncing elements? I see the same behavior if I have `"syncElements": true` but it's not giving this error if it's set to false.

I'll see what I can do, but given that it can't infer values without tokens (ergo, values) it's not surprising it breaks.

[2021-03-23 10:46] tomsoderlund commented on #100
@mikaelvesavuori You're right! Only for elements. Closing.

[2021-03-23 10:46] #100 closed

[2021-03-23 11:09] mikaelvesavuori commented on #100
Hey, I fixed this anyway :) Coming shortly in `4.0.15`.

[2021-03-23 12:56] tomsoderlund commented on #100
@mikaelvesavuori Amazing! Thank you

[2021-03-23 15:21] MasterMahariel commented on #99
Hi  @mikaelvesavuori!  Thanks for the update. I had updated and received version `4.0.15` and found that the paths look correct but I am getting an error about the import paths.

Here's an example:
`Cannot find module '.figmagic/tokens/colors' or its corresponding type declarations.ts(2307)`

Upon typing in an absolute path, it starts in my C drive rather than the root of the project.

Is it possi

[2021-03-23 15:33] mikaelvesavuori commented on #99
That has to do with how Node and your project setup resolves paths, and is not technically a Figmagic issue. Could you try `/.figmagic/tokens/colors` and see if that works for you?

[2021-03-23 15:42] MasterMahariel commented on #99
It did not work for me. I'll take a look at my project setup. Thanks for your help.

[2021-03-25 01:45] MasterMahariel commented on #99
Sorry to resurrect this issue again but today I am noticing that my `figmagicFolder`, `outputFolderTokens`, and `outputFolderElements` are being ignored. It was working fine yesterday. Was there a change?

[2021-03-25 08:13] mikaelvesavuori commented on #99
I am not seeing this issue... See image and how it creates folders and files as needed.

<img width="865" alt="figmagic-generation" src="https://user-images.githubusercontent.com/23580994/112440008-14250980-8d4a-11eb-9fe1-a384cf1e925b.png">

[2021-03-31 04:22] MasterMahariel commented on #99
Sorry for the delay; the issue seems to be resolved now.

[2021-03-31 04:34] MasterMahariel commented on #99
Here is an example.

![Screenshot (23)](https://user-images.githubusercontent.com/12755283/113090893-cc263c80-91b8-11eb-8a2b-269fde2fda60.png)

It was working a few minutes ago but then it stopped.

[2021-03-31 04:56] MasterMahariel commented on #99
After looking into this more, there seems to be an issue with where the setting is placed.

https://user-images.githubusercontent.com/12755283/113092288-b9613700-91bb-11eb-9211-936c0f86e42a.mp4

[2021-03-31 06:11] mikaelvesavuori commented on #99
Hi again @MasterMahariel !

Very good reproducible videos. The error is because the document (or just the last item...?) becomes invalid when you have the last semicolon on `"syncElements": true,` and all other such test cases you show.

Removing the last semicolon rectifies the issue. I will close this, and will add a backlog item to see if I can support JSON documents as well, since something li

[2021-03-31 06:11] #99 closed

[2021-04-01 03:45] MasterMahariel commented on #99
Thanks for pointing that out. Wow, not sure if I'm happy or mad about it being just a comma issue. At least i'm not ~~going~~ becoming more crazy.

[2021-04-13 10:35] jmak opened #102 "Can't output graphics as wrapped React elements."
**Describe the bug**
Reading documentation I have an impression that outputting graphics (elements that are placed on Graphics page in Figma file) as wrapped react elements is build into the Figmagic library. I manage only to export everything as svgs. I tried to use custom template but with no success.

**My config**

`"figmagic": "^4.0.15"`

[code]

When I run: `"figmagic:graphics": "node ./node

[2021-04-13 12:40] mikaelvesavuori commented on #102
Hi!

Given that you set `"syncElements": true` in the config (or use `--syncElements`) you should be getting a result similar to the attached image.

![figmagic-wrapped-svg](https://user-images.githubusercontent.com/23580994/114553630-210c8d00-9c66-11eb-99c4-e08b4e1f5780.png)

[2021-04-16 15:24] mikaelvesavuori commented on #102
Hi @jmak,

I will be closing this since this should be able to be corrected as per above. I will look into updating docs to clarify!

[2021-04-16 15:24] #102 closed

[2021-04-19 11:24] thgh opened #104 "React Native support"
**Is your feature request related to a problem? Please describe.**
I'm using Expo (React Native) and it doesn't support CSS. I need style objects instead.

**Describe the solution you'd like**

- [ ] Fontsize in px
- [ ] Spacing in px
- [ ] Typed element output with StyleSheet.create({})
- [ ] Possibly more things

**Describe alternatives you've considered**
I haven't. Coding things manually so fa

[2021-04-19 12:30] mikaelvesavuori commented on #104
Hey @thgh and thanks for your issue/idea for improvement!

The `px` part should be fairly easily doable I think. Typed element output I believe will be harder (possibly not doable) as design tokens and Figmagic is based around non-contextual values (e.g. the exact value of a color, size of a font etc.). I'm not a React Native dev either so I don't have much experience on how that would ideally wor

[2021-04-19 14:40] thgh commented on #104
Thanks for the quick reply! I hope to apply figmagic to a React Native project in the coming month and will report my findings here :-)

[2021-04-22 11:31] jmak commented on #102
Thanks for your explanation.

[2021-05-17 22:33] KlausSchaefers opened #105 "Figma Low Code support"
**Is your feature request related to a problem? Please describe.**
Hi, I am working on a similar project for Vue. I have also created a plugin for Figma to add some meta data, e.g. if an element is a text input etc. You can find more information here:

https://www.figma.com/community/plugin/858477504263032980/Figma-Low-Code

Would you be interested in collaborating? For instance by sharing the plu

[2021-05-19 14:41] JaccoGoris commented on #104
Hi, chiming in here, we're using figmagic in a setup with styled-components/native which doesn't take rem or em.
What is the best way to work around the lack of px output?

I was thinking either the design file could change to use values without px, (but my designer won't like it 😄 ) or maybe manipulating the values before putting them into the styled-components theme (take "1rem" and parse it to

[2021-05-19 17:40] mikaelvesavuori commented on #104
Hi @thgh and @JaccoGoris,

I've been busy on other work and other open-source projects so this got sidelined. I've just released version `4.1.2` which supports px value output for both spacing and font sizes.

If you feel like this solves the main issue, go ahead and close the issue :)

[2021-05-19 17:42] JaccoGoris commented on #104
Oh wow @mikaelvesavuori that sounds awesome! I was working on a workaround.. and now I don't have to :D thanks a lot!!

I don't know about @thgh but it certainly solved my issue 😁 thanks!

[2021-05-20 04:58] mikaelvesavuori commented on #104
I am closing since the token export part is done and no further React Native work is technically needed to support it.

[2021-05-20 04:58] #104 closed

[2021-05-28 23:51] tjmusser opened #106 "Add support for radial gradients"
**Is your feature request related to a problem? Please describe.**
Currently figmagic seems to pass over or omit a color token if it has a radial gradient fill type. Linear gradients appear to work fine.

**Describe the solution you'd like**
It would be great if a color had a radial gradient that figmagic could support that as a token output value.

[2021-05-29 15:18] mikaelvesavuori commented on #106
Hey @tjmusser.

Correct, only linear gradients were supported. This was documented in the dedicated elements README but seemingly not in the main one.

However, I did just release support for radial gradient in `4.2.7`, so do try it out.

[2021-05-29 15:20] mikaelvesavuori commented on #105
Hi @KlausSchaefers! Sorry for the inordinate delay in answering. This is very interesting. Send me an email at [MYNAME] at gmail dot com and let's that there?

[2021-05-29 15:20] #105 closed

[2021-06-02 20:49] tjmusser commented on #106
Hey thanks @mikaelvesavuori ! This is just what I needed

[2021-06-03 20:33] tjmusser commented on #106
@mikaelvesavuori one thing I did notice is that the gradient doesn't appear to be an exact match.

Figma shows this as the CSS for a gradient
[code]

While figmagic has that same gradient output as:
[code]

The circle size and co-ordinates appear to change.

[2021-06-04 13:28] mikaelvesavuori commented on #106
Hi again, it seems my naive implementation falls on the first part where we need to calculate the shape and size of the gradient. It was hardcoded to circle, but this is of course broken given a shape where the gradient does not originate from the center.

My remaining piece now seems to be to figure out how we can calculate the first two values (`129.7% 129.7` in your example) from Figma since th

[2021-06-04 17:57] tjmusser commented on #106
@mikaelvesavuori I'm not sure if this helps but I'm including the json from the files API for this exact gradient. It's speculatioon on my part but perhaps it is calculated in some way using the `gradientHandlePositions` values as a ratio compared against the height/width of the `absoluteBoundingBox` in the json response.

Also included is a screenshot of this same gradient in Figma. It expands ou

[2021-06-05 06:48] mikaelvesavuori commented on #106
This should now be improved and will be released shortly in `4.2.8`.

[2021-06-05 06:48] #106 closed

[2021-06-15 15:29] BarnDotCom opened #107 "Error writing Design tokens"
We are suddenly unable to sync design tokens from Figma, and are getting the following error:

Error: Error: Error: Error: Error: Color has no "Fills" property

This is a new issue, we had no problems pulling the tokens before. I noticed that Figma itself was just updated, is that possibly related?

[2021-06-15 16:13] mikaelvesavuori commented on #107
Hi!

The only place that should be throwing that error is here:

[code]

This has been unchanged for 8-9 months. Of course not impossible that some rippling effect has occured.

Can you tell me more about your tokens, colors etc so I have some context? Are they gradient or solids? What version of Figmagic are you using?

[2021-06-15 16:24] mikaelvesavuori commented on #107
Speculation: You don't happen to use colors with no fill? Because I can see how those would blow up according to the code above.

[2021-06-15 16:35] BarnDotCom commented on #107
Thanks for the speedy response Mike. We are now using version 4.2.16 of Figmagic but were seeing the error with the older 4.1.2 version too. We are using all solid colors, and every layer has a fill assigned. Here is a grab: [https://www.dropbox.com/s/44f211ptkn200yz/design-tokens-colors.png?dl=0](url)

[2021-06-15 16:47] mikaelvesavuori commented on #107
Trying to replicate but cannot. It works. Attempting to use your naming conventions, and use lots of colors, but nothing breaks it.

As expected, removing the fill from a color breaks Figmagic.

Can you verify that you can pull tokens from the template document with `FIGMA_URL=K39TRbltDVcWFlpzw9r7Zh`?

[2021-06-15 16:51] mikaelvesavuori commented on #107
My speculation is that this should logically be something in the Figma file gone awry. It's a really technical error that I never thought would actually be fired! :) Would be good if you could try to isolate the error by removing/adding the color swatches and see if that does something.

[2021-06-15 17:00] mikaelvesavuori commented on #107
I have a fix I could push out that simply ignores any design token "swatches" that are missing fills. It would be a quality of life improvement mostly, because while it won't kill the process, you would not get the color value either.

Would that suit your needs? If nothing else, you'd be able to see what is missing (i.e. was ignored).

[2021-06-15 17:04] mikaelvesavuori commented on #107
This change is now being built and will be out shortly in version `4.2.17`.

[2021-06-15 17:05] BarnDotCom commented on #107
We are getting the same error with your URL, so we are doing a reinstall.

We will also try your latest version - thanks Mike!

[2021-06-15 19:21] BarnDotCom commented on #107
Yes, that build seems to have resolved the issue Mike, thank you. We get get all the color values imported with 4.2.17. We tried again with the earlier version just as a test, and still got the error, so the change you made appear to have fixed the issue.

[2021-06-15 19:26] BarnDotCom commented on #107
We also noticed that we mistakenly had a couple of duplicate layers in the Color frame - layers with the exact same name in Figma, though with different color fills and different Figma styles assigned. Once we fixed those we were able to get all colors imported.

[2021-06-15 19:26] mikaelvesavuori commented on #107
Brilliant! Glad to have been of service and sorry for whatever happened there.

Closing.

[2021-06-15 19:26] #107 closed

[2021-06-18 22:15] tjmusser commented on #106
Thank you @mikaelvesavuori ! I will have to check it out :)

[2021-06-18 22:47] tjmusser opened #108 "Figmagic gradients appear different from Figma"
**Describe the bug**
There's difference in the gradient that Figma outputs and the one that figmagic returns. Both in the `angle` of the gradient, and in the `color stops`.

You can see an example of this in the code pen I created.

https://codepen.io/tmusser-illumina/pen/jOBJdGb

**Figma value** `linear-gradient(61.68deg, #0045E6 -4.27%, #FDDD33 116.09%)`

**Figmagic value** `linear-gradient(8.62

[2021-06-30 17:35] mikaelvesavuori commented on #108
Hi and thanks for the reproducible example. I looked at this when you first posted it, but my work did not fully cover a solution.

This will have to be on hold from my side until I get more time to look into this.

[2021-08-26 12:41] alehar9320 opened #111 "Drop-shadow values appear in reverse order"
**Describe the bug**
When retrieving token values for shadows from an object with two drop-shadow properties set, the order is reversed.

**To Reproduce**

1. Go into Figma
2. Duplicate Figmagic's Figma document template
3. Perform the documented steps to make Figmagic retrieve tokens from the Figma document using the Figma API
4. View the output for the token called _Shadow Deep (multiple)_ insid

[2021-09-01 12:41] alehar9320 commented on #111
Unless I've missed something, the result is that the order of the shadows is reversed, when implemented using the token from Figmagic.

When you use the inspect mode in Figma, the order is as one would expect. The first drop-shadow property (Figma Design mode) is inserted into the box-shadow property declaration first (Figma Inspect mode).

![image](https://user-images.githubusercontent.com/539043

[2021-09-04 18:25] mikaelvesavuori commented on #111
Solid commentary!

The ordering part is fixed in `v4.3.0-alpha.0` that you are free to try out – it's being pushed to NPM as I write this. Note that the fix is part of a larger pack of changes, but nothing that should hinder you.

[2021-09-05 18:23] mikaelvesavuori commented on #111
This should be handled in `4.3.0` which is now released.

The update fixes the reverse ordering, and I've added your note on usage to the (updated) docs.

Thanks! Feel free to get back in touch should something come up.

[2021-09-05 18:23] #111 closed

[2021-09-10 00:54] drichard-nexapp commented on #88
For people with the same probleme, check if your vscode is set to LF and not CRLF. CRLF add a "\r" to the end on the lines (and in the value)

[2021-09-22 21:25] vilanz opened #112 "Writing Figma graphics as elements errors out if their name has special characters"
**Describe the bug**
If a graphic is named like `action / reorder` (instead of just `ActionReorder`), [the code for writing graphics ignores the special characters like /](https://github.com/mikaelvesavuori/figmagic/blob/4c1625a7c828f13446c96680296c3c2557b6484c/bin/frameworks/string/camelize.ts#L6).

But the code for writing elements [doesn't ignore them](https://github.com/mikaelvesavuori/figmagi

[2021-09-23 14:31] CodeByAlex opened #113 "Support both Hex and RGBA"
**Is your feature request related to a problem? Please describe.**
When I generate the values based on the figma docs, I would like the option to add to the configuration the format of colors (hex/rgba)

**Describe the solution you'd like**
there is already a function in the codebase to convert rgba to hex error. That can be leveraged to convert the value to hex based on the configuration .

[2021-09-25 20:02] mikaelvesavuori commented on #113
Hi! Thanks for this.

This is trivial to support, but has some unintentional problems if used together with element generation (matching tokens to values, which at that point have been transformed). Working on this and trying to figure out a good solution.

[2021-09-25 20:05] mikaelvesavuori commented on #112
Hi! Thanks for opening this.

I will need to investigate (and potentially clean this). The behavior is known and it may be non-trivial to support because of slashes being formed as a file path (meaning they end up as nested folders instead of as actual characters). Potentially an easy fix, potentially not.

[2021-09-29 10:35] mcastiello opened #114 "Exporting Graphics to React on unix fails because of case sensitive file names"
I was trying to set up a GitHub pipeline following [this example](https://github.com/mikaelvesavuori/github-ci-demo) and using the [default template](https://www.figma.com/community/file/821094451476848226).

this is my currect `figmagic.json`
[code]

This is the output I get from GitHub:

![image](https://user-images.githubusercontent.com/12670283/135251267-9cd68248-86b0-4b83-bdbd-0ab323714bd4.pn

[2021-09-29 18:32] mikaelvesavuori commented on #114
Hi! I will look into this after the other ongoing issues. This issue shouldn't happen and was supposed to be covered by other recent work, though.... :/

[2021-09-29 19:17] mikaelvesavuori commented on #113
Hi! This should now be resolved in version `4.3.4`. See https://github.com/mikaelvesavuori/figmagic/releases/tag/v4.3.4

[2021-09-29 19:17] #113 closed

[2021-09-29 21:27] mcastiello commented on #114
Thanks, your work is very much appreciated.
For now I just wrote a temporary script that reads the graphics path and generate the react components.

[2021-09-29 21:28] mcastiello commented on #114
Lol, sorry, I hit the wrong button and closed the issue accidentally

[2021-09-30 04:43] mikaelvesavuori commented on #114
I was starting work on this last night and it is related to one other current issue.

One way to deal with this is by simply not using transforms like toPascalCase() on anything. Probably that will be my ”solution”, thus exactly representing whatever names one might use in Figma.

[2021-09-30 17:36] #112 closed

[2021-09-30 17:39] mikaelvesavuori commented on #112
I am trying to push out `4.3.5` now that should fix this.

There was previously no support whatsoever for nested names on graphics or components. This is added in the mentioned release.

Please note that "special characters" do not get any specific handling at all (thus implicitly they are supported). The exception was of course the forward slash (`/`) which is now supported.

[2021-09-30 17:43] mikaelvesavuori commented on #114
I am trying to push out 4.3.5 now which should fix this.

This release changes the previous behaviour of using pascal case or camelcase to adjust names that are passed through. The new behaviour is that names are taken "as-is".

The change should fix your exhibited issue.

[2021-09-30 17:43] #114 closed

[2021-09-30 19:45] mikaelvesavuori opened #115 "Add contributors with all-contributors"
Add contributors with [all-contributors](https://allcontributors.org/).

[2021-09-30 19:48] mikaelvesavuori commented on #115
@all-contributors please add @flo-sch for code

[2021-09-30 19:49] mikaelvesavuori commented on #115
@all-contributors please add @Stanko for code

[2021-09-30 19:49] mikaelvesavuori commented on #115
@all-contributors please add @opauloh for code

[2021-09-30 19:49] mikaelvesavuori commented on #115
@all-contributors please add @Peeja for code

[2021-09-30 19:50] mikaelvesavuori commented on #115
@all-contributors please add @markomarkom for code

[2021-09-30 19:50] mikaelvesavuori commented on #115
@all-contributors please add @mykhailoInnovecs for code

[2021-09-30 19:50] mikaelvesavuori commented on #115
@all-contributors please add @zackbrown for code

[2021-09-30 19:56] #115 closed

[2021-10-08 16:07] opauloh opened #123 "Make figmagic repository elegible for Hacktoberfest"
Hi,

I want to make more contributions to this amazing Open Source project this month, it also would be awesome if Figmagic's repository gets eligible for Hacktoberfest contributions:

Resource:
https://hacktoberfest.digitalocean.com/resources/maintainers

- [x] Add the 'Hacktoberfest' topic to your repository/project so that folks know you're participating in Hacktoberfest.
- [x] Apply the 'Hackt

[2021-10-09 07:33] mikaelvesavuori opened #124 "TEST: Mock Figma API"
Currently tests are using the actual, real Figma API. One effect of this is that a test run is therefore dependent on a realtime response, which is not always the case.

This behavior should instead use a mocked response, for example by utilizing:
- An online service (such as Mocky https://designer.mocky.io)
- A CLI devtool (such as Mockoon https://mockoon.com)

The implementation should be lightw

[2021-10-09 07:36] mikaelvesavuori opened #125 "Figma (free version only?) only supports a named version for 30 days, breaking tests if run after that period"
This issue results in tests relating to named versions (such as `4.1.0`) to fail after those 30 days have passed. See if this can be mocked. There is a separate issue for mocking the Figma API, which this may able to hook into.

Success criteria:
- Follow all existing overall patterns
- Stable solution

[2021-10-09 07:37] mikaelvesavuori opened #126 "Support blend modes"
Currently, colors do not support blend modes. This issue would adress adding support for blend modes.

I currently have no clear idea of how this would manifest itself; perhaps it would use CSS blend modes (https://developer.mozilla.org/en-US/docs/Web/CSS/mix-blend-mode) that would add an extra line to the generated data.

[2021-10-09 07:40] mikaelvesavuori opened #127 "FEATURE: Support images in elements"
Currently, when generating elements (i.e. "React components"), images are not supported.

Example: If you were to generate a button with a background-image, the generation would attempt to understand the general CSS properties but bypass the image.

I assume that an implementation of this would result in a `background-image` property to be generated. It would also be necessary to download the imag

[2021-10-09 07:42] mikaelvesavuori opened #128 "BUGFIX/CI: Fix flaky test that only fails in CI (createElements)"
The test `"It should write graphic elements and check that graphic elements map file exists"` for `createElements()` is flaky and fails in CI, but seemingly not on a local machine.

This issue concerns resolving that issue so we can continue using the test.

[2021-10-09 07:48] mikaelvesavuori opened #129 "FEATURE: Support higher-order "compositions""
Support "compositions" that are higher-order components (groups?) referring to nested elements.

This would enable creating for example a Form that would contain elements (Button, Heading, Paragraph). Currently, this needs to be manually puzzled together, as is currently done in the Figmagic example https://github.com/mikaelvesavuori/figmagic-example).

Supporting this is probably a pretty signifi

[2021-10-09 07:50] mikaelvesavuori opened #130 "Restore three tests that only fail on Windows in CI"
A small number of tests seem to fail exclusively on Windows CI builds:

- `getFileContentAndPath.test.ts`
- `prepFile.test.ts`
- `getSvgFileData.test.ts`

This might have to do with CRLF or some similar "invisible" problems?

Successfully resolving this would make the tests accurately pass on all test platforms (Ubuntu, Windows...Mac?).

[2021-10-09 07:55] mikaelvesavuori opened #131 "Refactor `getTokenEnumString` and `getTokenString` to be same?"
This small refactoring would address that there is some code duplication around the following functions:

- `getTokenEnumString`
- `getTokenString`

If possible these should be combined into a terser, single function to avoid duplication and too much similarity.

[2021-10-09 07:57] mikaelvesavuori opened #132 "BUGFIX: Cannot group elements inside each other?"
(This is an older, anecdotal issue and needs to be re-verified and investigated!)

It is not possible to group elements inside each other, making (React) element generation less powerful (i.e. meaning elements are not generated as expected; I think it caps at the first detected element).

Investigate if this is still the case. If it is, see if it's possible to "uncap" the limit of the current impl

[2021-10-09 08:03] mikaelvesavuori opened #133 "Non-nested elements must have the layout element using the Component name or it fails"
(This is an older, anecdotal issue and needs to be re-verified and investigated!)

This concerns (React) element generation.

Non-nested elements need to have the layout element using the Component name (such as ”Slider”), else it fails.

Investigate if possible to meaningfully update the implementation/code to support a less rigid pattern, so users can call the main layout element whatever they w

[2021-10-09 08:05] mikaelvesavuori opened #134 "BUGFIX: Currently only a single layout element per group/nested layer will be picked up."
Currently only a single layout element per group/nested layer will be picked up.

Investigate if possible to make this functionality support more than a single element.

[2021-10-09 08:06] #123 closed, assigned to nobody

[2021-10-09 22:28] opauloh commented on #123
that's really awesome!

I've shared it with the hacktoberfest community, hope we get more contributors :D

thanks!

[2021-10-11 21:51] printf-ana opened #136 "Translation READ.md for pt-br"
Hey!
I'm trying to contriute for Hacktoberfest 2021.
Can I translate the README file to Brazilian Portuguese? =)

[2021-10-12 04:24] mikaelvesavuori commented on #136
Absolutely!

[2021-10-12 16:26] #131 closed, assigned to nobody

[2021-10-13 10:09] #136 closed, assigned to printf-ana

[2021-10-29 09:55] alehar9320 opened #145 "Unit configuration option for borderWidths, radii and shadows"
**Problem statement**
I'm attempting to change the _unit_ of all figmagictokens from _px_ to _rem_ and get frustrated by the _lack of configuration options._

**Describe the solution you'd like**
I'd like the possibility of changing each figmagic token category individually. Currently, Figmagic lacks the options for _borderWidths_, _radii_ and _shadows_.

**Describe alternatives you've considered*

[2021-10-31 19:11] mikaelvesavuori commented on #145
I got less time than needed, but now it's just really the radii that's left needing a fix (that solution uses `normalizeUnits()` which requires a somewhat different approach on my end).

[2021-11-03 18:46] mikaelvesavuori commented on #145
This is now done, and I'll be releasing it in `4.3.6` shortly.

[2021-11-03 18:46] #145 closed

[2021-11-04 10:46] mikaelvesavuori opened #148 "Token names exported in camelcase"
### Discussed in https://github.com/mikaelvesavuori/figmagic/discussions/147

<div type='discussions-op-text'>

<sup>Originally posted by **glouhaichi** November  3, 2021</sup>
We are experimenting with Figmagic in our project to export tokens created in our Figma files. The names in the figma files are using kebab case (ex. `$ixc-cognira-opacity-error500-005`), but after importing the tokens in t

[2021-11-04 17:48] #148 closed

[2021-11-04 17:58] mikaelvesavuori commented on #148
This is now released in version `4.3.7`. See the docs at https://github.com/mikaelvesavuori/figmagic#do-not-transform-camelize-token-names

[2021-11-08 11:39] glouhaichi opened #149 "Element generation: Imported JavaScript for elements becomes invalid if using dashes"
When trying to import our elements from the Figma file, the JavaScript follows our naming convention to the letter, which cause the JavaScript code inside to be invalid.
[code]

As you can see, the variable names are following the naming convention that uses a kebab case, which represents invalid syntax.

Note: I tried altering the `camelizeTokenNames` setting but it seems to have no effect, void

[2021-11-08 12:01] mikaelvesavuori commented on #149
Hey! This goes back to our previous conversation where I noted that the dollar sign does not seem like a valid use. I am surprised also if my implementation allowed the dollar sign, for that specific reason. From what I can see here, it is therefore not a Figmagic issue.

[2021-11-08 12:32] glouhaichi commented on #149
@mikaelvesavuori does that mean that removing the dollar sign should fix the issue? Because the issue described in the JavaScript file is not the dollar sign per se, it's the fact that dashes are not allowed in variable names.

[2021-11-08 14:06] mikaelvesavuori commented on #149
Maybe. I was speculating; this is one of those things that "should be" obvious, but raises questions that can easily be verified.

1. The dollar sign _did_ actually work though, again, seems like a very non-syntactic thing.

2. I didn't even think of the fact that dashes in variable names aren't allowed... Stupid me.

The current implementation (I can't find it right now, at work) does take some o

[2021-11-08 17:37] BarnDotCom opened #150 "Problematic colon character in image id tag"
We've just returned to using Figmagic on one of our projects that we haven't worked on in many months.

On our React Front-End, we immediately noticed an error syncing bitmapped graphics. While SVG graphics continue to display correctly, bitmapped ones now don't.

Looking at the HTML, it appears that synced bitmapped graphics now each have a unique ID, where they didn't before, see the old vs new

[2021-11-08 18:45] mikaelvesavuori commented on #150
Hey! The generated images (SVG or bitmap) is "as-is", so Figmagic isn't doing anything in this part.

The colon seems to refer to a Figma node ID. This gave me the suspicion that your vector graphic includes a bitmap, so I set up a test on my own end (just a basic component made out of a vector rectangle and a PNG dummy printscreen). This seems to work just fine in an HTML file loading the SVG wit

[2021-11-08 19:40] BarnDotCom commented on #150
Thanks for the prompt reply Mike. It sounds like Figma may have adjusted something in a new version, as we have not changed the graphics in our design file. I have posted a support request here, hopefully someone from Figma will be able to assist: https://forum.figma.com/t/colon-in-html-id-attribute/10010

[2021-11-08 19:45] mikaelvesavuori commented on #150
And for anyone interested, this seems to be highly related: https://forum.figma.com/t/svg-export-for-lineargradients-with-colons-in-id-showing-blank-in-chrome/9109

[2021-11-08 19:52] mikaelvesavuori commented on #149
Did a small check and I'm happy to say that the code was well-written enough to not pose a major impediment. Had to write yet another string sanitizer (this time allowing slashes to not break folders), but I just wanted to check with you if this would be more like what you are looking for—

Because of the dashes (etc), for file imports and so on, it would be necessary to have some strictures. One

[2021-11-09 07:49] mikaelvesavuori commented on #150
Since this is outside of Figmagic’s control, can we close this? We can always reopen if a solution presents itself.

[2021-11-09 09:28] glouhaichi commented on #149
@mikaelvesavuori excellent, as long as it's valid JavaScript (or TypeScript) we would be good to go.

And if I'm allowed one small nitpick, I would suggest that the string santizer would transform `$my-design-system-button` into `MyDesignSystemButton`. It would fit nicely with the capitalized suffix `Styled`, plus it's actually a component and capitalization is standard for those.

Thank you.

[2021-11-09 12:24] BarnDotCom commented on #150
Sure, fine by me, thanks again Mike.

On Nov 9, 2021, at 2:49 AM, Mikael Vesavuori ***@***.***> wrote:

﻿

Since this is outside of Figmagic’s control, can we close this? We can always reopen if a solution presents itself.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/mikaelvesavuori/figmagic/issues/150#issuecomment-96

[2021-11-09 13:09] #150 closed

[2021-11-09 13:26] mikaelvesavuori commented on #149
This is solved, with PascalCase names, in `4.4.0`.

[2021-11-09 13:26] #149 closed

[2021-11-11 15:22] Julian-Rojo-Beezy opened #151 "Figma erroneously sets certain font weights to 400"
**Describe the bug**
Font weight values are exported as "400" when there is a whitespace in their names in the Figma font-weight selector (e.g. in the "Inter" font).

**To Reproduce**
1. Use any design-token enabled file, such as a duplicate of https://www.figma.com/community/file/821094451476848226.
2. Change the font-weights and font-families to "Inter" font family (or any other family with whit

[2021-11-11 16:36] mikaelvesavuori commented on #151
Hey!

Interesting. The code in Figmagic for this is rudimentary and fully expects that Figma's value is correct. Please see xxxxxx.

I am indeed seeing the same behavior, for both Helvetica Neue and Inter. See below, for Inter, as I'm outputting the Figma frame data for font weights.

[code]

This seems to be an error on Figma's side, and I think the right course of action is to raise an issue in

[2021-11-11 16:41] mikaelvesavuori commented on #151
This seems to be the same thing, if also the font name has spaces, but the font style does not. Tried with `Iowan Old Style`, font style `Titling`: Came back as 400.

[2021-11-11 16:56] Julian-Rojo-Beezy commented on #151
Thanks for the information!

Yep, looks like the space in the family name doesn't trigger the problem: I checked with "Noto Sans" (space in family name, but not in weights) and the issue doesn't happen
![2021-11-11_17h54_27](https://user-images.githubusercontent.com/70134058/141337668-95758e9e-36b1-473e-8896-bfa9670ac32c.png)

[2021-11-11 17:09] mikaelvesavuori commented on #151
Is it OK to close this for now since it is not directly related to Figmagic

[2021-11-11 17:16] #151 closed

[2021-11-16 10:15] glouhaichi opened #152 "Elements are imported twice, in two different places"
Below is our current `figmagic.json` configuration:
[code]

After running `npm run figmagic`, the tokens as well as the elements are imported correctly under the `src/frontend` directory. However, the elements are also imported directly in the project root (`./`).

I've taken a look at the Figma file and all seems to be where it should be: tokens under "Design Tokens", and elements under "Elements

[2021-11-16 11:47] glouhaichi opened #153 "Invalid JavaScript when using tokens for CSS with camelizeTokenNames set to false"
When setting the `camelizeTokenNames` option to false, the tokens are imported correctly without transformation. However, their use inside the elements' JS files presents invalid JavaScript, because it is using dot notation instead of bracket notation to call the tokens that have dashes in them.

**Current import (dot notation)**
[code]

**Correct import (bracket notation)**
[code]

[2021-11-16 19:00] #153 closed

[2021-11-16 20:02] mikaelvesavuori commented on #153
This is now the default in version `4.4.1`.

[2021-11-16 20:07] mikaelvesavuori commented on #152
It seems the main file (JS/TS) is generated at the root. I will investigate.

[2021-12-02 10:34] alehar9320 opened #154 "Shadows missing Y value"
**Describe the bug**
Shadows exported using Figmagic are missing Y value

**To Reproduce**
Steps to reproduce the behavior:
1. Make a copy of Figmagic's Figma example file
2. Add a square object to shadows frame
3. Add a drop-shadow effect to sqaure object, with value for both X, Y, Blur and Color
4. Make Figmagic fetch from the duplicate of the Figma example file
5. Notice that X, Blur and Color

[2021-12-02 11:10] mikaelvesavuori commented on #154
This does not seem to entirely true, see

[code]

[2021-12-02 11:33] mikaelvesavuori commented on #154
This is now fixed in `4.4.2`. Thanks for reporting!

[2021-12-02 11:33] #154 closed

[2021-12-23 16:12] ericnguyen23 opened #155 "Zscaler Blocking Access to Figma API, Getting "Error: Missing one or more of required arguments: "figmaToken", "figmaUrl"""
**Describe the bug**
Running `figmagic` returns:

[code]

I'm aware there is the same issue posted and solved by removing spaces in .env file, however this one is specific to Zscaler security. I validated this by running Figma API in Postman, one with and one without attaching Zscaler PEM Certificate file.

Question is, how to I configure Figmagic to use the PEM file?

**To Reproduce**
Steps to re

[2021-12-23 16:50] mikaelvesavuori commented on #155
Hey! There is no support at the moment for this. Let me try adding that after Christmas!

[2021-12-23 16:56] ericnguyen23 commented on #155
Thank you, much appreciated!

[2021-12-26 14:16] mikaelvesavuori commented on #152
Sorry for the delay. This should be fixed now, in `4.4.3`.

[2021-12-26 14:16] #152 closed

[2021-12-26 14:55] mikaelvesavuori commented on #155
Hi again. I've added a very basic implementation that I'm not really sure how to test right now. It's available in `4.4.4` and release notes can be [read here](https://github.com/mikaelvesavuori/figmagic/releases/tag/v4.4.4).

[2021-12-26 14:55] #155 closed

[2021-12-26 14:55] mikaelvesavuori commented on #155
Feel free to open up or discuss; closing this for now.

[2022-01-12 12:01] glouhaichi commented on #127
@mikaelvesavuori is this the same issue as elements not referencing icons (graphics) they were built with in Figma? For example, we have buttons with leading and trailing icons, and these icons are configured as graphics that are pulling correctly using Figmagic. However, the imported button elements are not referencing said graphics in the generated React component.

[2022-01-12 12:26] mikaelvesavuori commented on #127
Almost. This issue is about images as defined in CSS. Your issue is about supporting image references in elements, if I am not mistaken. Both of these cases are currently not supported.

[2022-01-28 10:23] ivkrpv opened #157 "Payload too large error when syncing graphics"
**Describe the bug**
Graphics sync doesn't work when your Figma file contains a lot of components (we have around 1700 components on a Graphics page). It throws an error in the console: `Error: Error: Error: Missing one or more of required arguments: "figmaToken", "figmaUrl" when attempting to get data from Figma API!`. But if you try to debug the error is actually **413 payload too large** and it

[2022-01-28 13:32] mikaelvesavuori commented on #157
Interesting! I am pretty sure this would be a Figma issue, rather than something on the Figmagic/implementation side.

Unclear how I'd verify it right now though.

[2022-03-28 11:18] mikaelvesavuori commented on #157
Closing as a Figma issue. Will add a backlog task to investigate and find patterns on this.

[2022-03-28 11:18] #157 closed

[2022-05-04 19:06] kovavka commented on #154
Hi @mikaelvesavuori! I faced the same problem and found [this](https://github.com/mikaelvesavuori/figmagic/blob/main/bin/entities/Token/logic/makeShadowTokens.ts#L62). Could you please fix it?

[2022-05-04 20:10] mikaelvesavuori commented on #154
Hey @kovavka! Seems this was a slip-up on my side. I just did a quick adjustment that _should_ address this, released in `4.4.5`.

[2022-05-04 21:14] kovavka commented on #154
Thank you so much, it works now. Your project have a best support I've ever seen!

[2022-06-17 16:22] tomevans00 opened #159 "Unable to run figmagic to generate raw Figma JSON data - error: msising "figmaToken" and "figmaUrl""
Hello,

Me and my team work for a big enterprise and would love to use Figmagic in our design system. However, we're unable to successfully run `figmagic`

**Describe the bug**
Figmagic does not recognize token and url no matter how it is passed. Always giving this error when running `figmagic` to generate JSON dump: `Error: Missing one or more of required arguments: "figmaToken", "figmaUrl" when

[2022-06-17 18:45] mikaelvesavuori commented on #159
Hey!

Sounds weird. This is most likely some formatting or encoding issue. I just tested successfully using the below:

[code]

[2022-06-17 19:31] mikaelvesavuori commented on #159
Quick update. As expected, `.env` files will be very strict in their formatting. For example, this will break:

[code]

Same with:

[code]

[2022-06-17 19:31] mikaelvesavuori commented on #159
Quick update. As expected, `.env` files will be very strict in their formatting. For example, this will break:

[code]

Same with:

[code]

[2022-06-17 20:02] tomevans00 commented on #159
Hey Mikael, following these instructions seemed to do the trick! I guess it was some formatting issue on my end. Thank you for your help!

[2022-06-17 21:20] #159 closed

[2022-07-19 11:02] ppsirius opened #160 "Offline support"
Is it possible to transform the json file without giving Figma API?

[2022-07-19 11:16] mikaelvesavuori commented on #160
If you have valid JSON you can set the ’recompileLocal’ option to not fetch new data via the Figma API. This should solve your issue. See https://github.com/mikaelvesavuori/figmagic#recompile-data-from-local-figma-json-file

[2022-07-19 11:36] ppsirius commented on #160
Thanks, it's running but I get:
```Error: TypeError: Cannot read property 'children' of undefined```

[2022-07-19 12:05] mikaelvesavuori commented on #160
I would expect that there is something that does not comply with the regular output and expectations on pages and overall format. Do you get it to work using the Figma API and following the instructions/prereqs?

[2022-07-19 13:22] ppsirius commented on #160
I missed that I need to use your Figma template 🙈

[2022-07-19 13:22] #160 closed

[2022-07-19 13:50] mikaelvesavuori commented on #160
Technically you do not need to use the template but you do need to follow the documented conventions :) Good you are going though! ;)

[2022-07-28 00:12] davidbwaters opened #162 "Enable element variants from frames."
**Is your feature request related to a problem? Please describe.**
I'm curious why groups are the default for element variants vs. frames.  Frames you can set the fill directly on the parent, which makes more sense in a code translation, and it's sizing is closer to the actual web.  My issue is a button's text element that I want to have the padding set to 16px, but setting left and right for the

[2022-07-28 07:52] mikaelvesavuori commented on #162
Hey @davidbwaters!

_The element generation part of Figmagic is the absolutely hardest part, as well as the part I typically get least conversation about, which means it's hard to make single-handed design decisions when it comes to this feature. It's super to get your feedback here._

There is no good answer to this: The foundation of the feature was built more than 4 years ago so it's kind of ha

[2022-08-01 15:44] KelvinOm opened #163 "Dark and Light Colors as different frames"
**Is your feature request related to a problem? Please describe.**
I try to create implement different themes like dark and light mode and for this I need two different sets of colors.

I plan to use them as css variables.

**Describe the solution you'd like**
Support nesting frames in «Color» frame where I can add different frames. Whit this i can create JSON like this

[code]

**Additional conte

[2022-08-01 16:19] mikaelvesavuori commented on #163
Hi!

Typically theming will be done in a higher level abstraction, such as creating a `theme.js` file or similar and doing the mapping you just displayed there. In that file you would import the basic singular colors (and anything else), like:

[code]

Since it's a very easy thing to implement (and the right thing to do, to add abstractions that are unique to your way o working) and since this is

[2022-08-01 16:30] KelvinOm commented on #163
@mikaelvesavuori I was thinking about adding the prefix. But it seemed to me that such an implementation would be more difficult to scale.

Thank you for quick response. I really appreciate it.

Seems this issue can be closed.

[2022-08-01 16:51] mikaelvesavuori commented on #163
Sure thing. If you have further questions I am still here!

[2022-08-01 16:51] #163 closed

[2022-08-01 23:35] davidbwaters commented on #162
Yeah, constraints as children of groups don't behave the same way as they do with frames, for some reason.  Left and right still just scales the padding when resizing for me.

[2022-08-02 08:23] mikaelvesavuori commented on #162
Hey! I've added basic support for using frames AND groups.

The change is technically simply to accept frames as well as groups while the element generation is done. Seems to work just fine and I don't see any differences between either way, and the tests keep running. I am pushing this out in `4.5.0` shortly.

I will also close this issue. Feel free to get in touch should there be anything else!

[2022-08-02 08:23] #162 closed

[2022-08-03 06:29] davidbwaters commented on #162
Awesome! Thanks.  Also would love to test next versions of you need help

[2022-08-04 23:25] davidbwaters opened #164 "Not ignoring nested frames with prefixes"
**Describe the bug**
Hi, since you added support for frame variants, it's not ignoring prefixed frames with the '_' or ':' prefixes

**Expected behavior**
These shouldn't be added to the output.

[2022-08-05 00:52] davidbwaters opened #165 "Variants only working correctly with duplicate layers"
**Describe the bug**
Hi, element variants only work right for me for text styles if I have 2 variants of the same name.  Otherwise duplicate styles for font properties are applied to the wrong class.

**To Reproduce**
Steps to reproduce the behavior:
using this figma file.
https://www.figma.com/file/jntgBgYNVBnx1PfSBhbqGr/MTX-Figmagic?node-id=3982%3A22235

**Expected behavior**
Variant styles shou

[2022-08-05 00:54] davidbwaters commented on #165
Actually, the weights are still wrong.

[2022-08-05 04:58] mikaelvesavuori commented on #164
I am not able to reproduce this. Are you using Figmagic `4.5.0`? Even the mixed-use messy example here works as intended.
<img width="575" alt="Screenshot 2022-08-05 at 06 58 03" src="https://user-images.githubusercontent.com/23580994/183004662-faad51c7-1cea-4275-b9dc-087193e43be3.png">

[2022-08-05 04:59] mikaelvesavuori commented on #164
Note that `:` is not an exclusion pattern, but a way to express text being text (i.e. root of element) and then, when used for frames/groups, for subclassing.

[2022-08-05 05:14] mikaelvesavuori commented on #165
Each element is mapped to one Figma component. In your Figma file you have them grouped under a component, so this will not work. I appreciate that this will create a bit of redundancy in your case such as with the Button, but that's just the way it has to work to be multi-function, as we cannot otherwise infer the desired use. So in short: You will need to make individual components for each Butt

[2022-08-05 10:36] davidbwaters commented on #165
I thought this was the point of nested vs flat elements, to group variants under a single component?  Buttons work okay, with some tweaking.  It's the text component I'm referring to.

[2022-08-05 10:42] mikaelvesavuori commented on #165
I can see that being misunderstood for sure! Unfortunately what you are writing is not the full truth: The nesting pertains only to accepting subgroups (or now also subframes) for styling purposes. This is not done with ”flat” elements.

I will see if it makes sense updating docs to be better at explaining this.

[2022-08-05 10:49] mikaelvesavuori commented on #165
As far as I can tell from your Figma file, you have the same type of issue with your `Text` Figma component, and how it is incorrectly using the expected pattern. You should have each text layer as it's own component.

[2022-08-05 10:50] davidbwaters commented on #165
So in your example, the color of the button can be a different variant, but not something like font properties, basically?

[2022-08-05 10:55] mikaelvesavuori commented on #165
Well it should theoretically be able to have whatever properties you want, though in my example (as in most conventional cases) they only have marginal differences.

[2022-08-05 11:00] davidbwaters commented on #165
Yeah, I'm now more confused as far as the nested use case?  Maybe the terms "variants" in the docs makes it kinda confusing, just not sure why it's outputting redundant font properties like that with the text element.  The figma layout is the same for all of the subgroups, the only difference is their properties.

[2022-08-05 11:06] davidbwaters commented on #164
Sorry I updated the file with a workaround.  I'll post a fork with it how it was, but basically it's the button component's hidden icon with text layer.  When it's prefixed with an underscore, it still gets output with the underscore in the class name.

[2022-08-05 11:13] mikaelvesavuori commented on #165
Setting up some type of demo on my end. Until then, did you see and read https://github.com/mikaelvesavuori/figmagic/blob/main/readme/elements.md?

[2022-08-05 11:26] davidbwaters commented on #165
Thanks a lot.  Appreciate the awesome support on this project.

[2022-08-05 11:34] mikaelvesavuori commented on #165
OK...

Here's how the canonical way of implementing a `TextTinier` element would look.
<img width="656" alt="Screenshot 2022-08-05 at 13 21 34" src="https://user-images.githubusercontent.com/23580994/183067488-735a25ce-8675-4a5e-8385-08cdd5565542.png">

That should be clear enough on how nested elements work. As you are on to, a future evolution might even be able to squish both "flat" and "nested

[2022-08-05 12:32] mikaelvesavuori commented on #164
I have indeed seen that elements prefixed with an underscore were not ignored. I will push that fix later.

[2022-08-05 13:06] davidbwaters commented on #165
Okay, yeah I'm actually using postscript font names, so the output is actually different families for weights.  I had to do this because the wide/expanded find family was the same as the others and needed a way to make it export correctly.  Maybe that's causing the issue, I didn't think about that.

[2022-08-05 13:11] davidbwaters commented on #165
Also, the font-weight: light, under the strong style would override the weight, I think.

[2022-08-05 13:17] davidbwaters commented on #164
Awesome, thanks!

[2022-08-05 13:18] davidbwaters commented on #165
Okay, yeah I'm actually using postscript font names, so the output is actually different families for weights. I had to do this because the wide/expanded find family was the same as the others and needed a way to make it export correctly. Maybe that's causing the issue, I didn't think about that.

Also, the font-weight: light, under the strong style would override the weight, I think.

All the onl

[2022-08-05 13:23] mikaelvesavuori commented on #164
Let's close this one as there is nothing more to add here?

[2022-08-05 13:25] mikaelvesavuori commented on #165
So @davidbwaters, I feel like we've come some ways on this topic, but a lot of it has to do with user-side implementation "issues". So if you don't mind I'd rather close this and we can maybe have some other conversation or so, in case there is something specific I can support with?

[2022-08-05 22:00] davidbwaters commented on #165
Yeah, that's fine

[2022-08-05 22:40] davidbwaters commented on #164
Hey, I'm still having the issue after the update.  This is the file you can test with.  It's the button element's _with-icon child. https://www.figma.com/file/cTi2jRPF169TxakM3pX6Dt/MTX-Figmagic-(Copy)?node-id=3914%3A9510

[2022-08-06 05:32] mikaelvesavuori commented on #164
I don't have permission to access the file.

[2022-08-06 05:41] mikaelvesavuori commented on #164
I am just toying a bit with what I already have and I am pretty sure I see the issue. Figmagic is hard-wired to support only a single level of nesting, so not only will not underscore exclusions not work, nothing else will either if it's not found in either the root _OR_ in the first-level frames/groups.

When I have access and can verify your new file with my statement.

[2022-08-06 07:50] mikaelvesavuori commented on #164
So what's become apparent is that the flat and nested elements code bases are pretty dissimilar and I'm reminded of how they really should not to be synced. I am attempting to bring them closer to each other. What you are seeing is that the deduplication done for nested elements is not done for your texts, meaning you end up with duplicate properties (prior dialog is still valid for certain cases,

[2022-08-06 07:51] mikaelvesavuori commented on #165
So what's become apparent is that the flat and nested elements code bases are pretty dissimilar and I'm reminded of how they really should be synced. I am attempting to bring them closer to each other during the weekend. What you are seeing is that the deduplication done for nested elements is not done for your texts, meaning you end up with duplicate properties (prior dialog is still valid for ce

[2022-08-06 07:51] #165 closed

[2022-08-06 09:20] mikaelvesavuori commented on #165
I've released `4.5.2` that includes a range of small fixes, including forcing the `getUniqueValues` function to only use the first occurrence of a property (previously it matched the full line: key + value).

See https://github.com/mikaelvesavuori/figmagic/releases/tag/v4.5.2

[2022-08-08 02:49] davidbwaters commented on #164
sorry, I updated the sharing settings

[2022-08-08 02:51] davidbwaters commented on #165
Awesome.  Thanks, I'll try it

[2022-08-09 00:21] davidbwaters commented on #165
Yeah, I'm still getting the same issues with the text element.  Duplicate values and not generating all the classes for the variants.  Thanks for the progress, though.

[2022-08-09 05:43] davidbwaters commented on #165
Sorry, i retested and it's working much better, thanks

[2022-08-13 10:13] mikaelvesavuori commented on #164
Hey again. Sorry for being late to this. Looking at the file, this is still a structural error in your file rather than with Figmagic itself. The "root" Button should not contain the variants, you will need to drag these into individual, independent frames/groups.

[2022-08-19 17:37] rwproctor opened #167 "Syncing graphics fails when there are too many images"
We have a graphics page that contains a large number of icon components.  When we go to sync our icons, we are getting the following error...

**Error: Error: Error: Missing one or more of required arguments: "figmaToken", "figmaUrl" when attempting to get data from Figma API!**

This is not the actual error however, the real issue is the request to fetch all the icons is maxing out the Figma API.

[2022-08-19 19:06] mikaelvesavuori commented on #167
Hi!

Improving that catch-all error message is a good idea. I'm releasing this in version `4.5.3` shortly. TBH I don't really know of a proper solution to this as it's technically outside of what I can do much about.

However I have an idea that might be functional as a workaround.

Since Figmagic can be ran with both direct commands and with configurations, it should be possible to split the icon

[2022-08-19 19:16] mikaelvesavuori commented on #167
`4.5.3` is out. See https://github.com/mikaelvesavuori/figmagic/releases/tag/v4.5.3

[2022-08-19 21:07] rwproctor commented on #167
Thanks for the suggested workaround!  My first route is going to try to bring down the number of icons.  We brought in a large library which we probably don't need many of the icons.  Thanks for the quick update to 4.5.3.  Much better now ;^)

<img width="560" alt="image" src="https://user-images.githubusercontent.com/15252550/185707205-9a81cfc7-8d5b-49a0-88e0-851c21bf54d8.png">

[2022-08-19 21:07] #167 closed

[2022-08-20 08:08] mikaelvesavuori commented on #164
I am ready to close this, if you are OK with it @davidbwaters and have verified that Figmagic is ignoring as per the expected pattern I have written about?

[2022-08-29 13:31] jkavalec opened #169 "Output Tokens to a single file"
Hi,

I can see from the docs page, that Token output showcase is a single file with 'tokens' object containing Colors and Spacing, however when I run the extraction I get multiple files as an output.

I didn't notice any settings that could switch this behavior, am I missing something?

[2022-08-29 13:57] mikaelvesavuori commented on #169
This was an implementation example to express the idea of tokens, rather than showing the output of Figmagic. Outputting into a single file is not supported.

You can however choose to create such a file yourself that itself imports from the respective output files such as if you were creating an abstraction (like a theme).

[2022-08-29 15:10] jkavalec commented on #169
Thank you,

I wanted to use it with Styled Components, so that is what I intended to do if I won't find option,

this is really nice project.

[2022-08-29 18:48] #169 closed

[2022-09-08 14:21] ivkrpv opened #170 "url parameter is empty if taken from config file"
The problem is in this line:

https://github.com/mikaelvesavuori/figmagic/blob/9673f0d4867859a0759ce2ae34626aafa42c42de/bin/entities/Config/logic/createConfiguration.ts#L109

the value is not returned, probably a typo after the refactoring commit.

[2022-09-08 15:01] mikaelvesavuori commented on #164
Closing because of lack of activity

[2022-09-08 15:01] #164 closed

[2022-09-08 15:03] mikaelvesavuori commented on #170
Very good catch! Sorry about that miss.

I am pushing this now.

[2022-10-31 12:19] RmnMatusevich opened #178 "Elements generation issue"
When you generate elements from figma file give an error in each generated element (.tsx component).

**To Reproduce**
Steps to reproduce the behavior:
1. Clone repository https://github.com/mikaelvesavuori/figmagic-example
2. Install dependencies
3. Add project to your figma https://www.figma.com/community/file/821094451476848226
4. Create .env with figma creds
5. npx figmagic
6. npx figmagic --s

[2022-10-31 19:03] mikaelvesavuori commented on #178
Hi @RmnMatusevich!

I just released `4.5.7` that should fix this. See https://github.com/mikaelvesavuori/figmagic/releases/tag/v4.5.7

[2022-10-31 19:03] #178 closed